apiVersion: 1

datasources:
  - name: Thanos
    type: prometheus
    url: http://query:10902
    uid: thanos
    orgId: 1
    version: 1
    editable: true
    access: proxy
    isDefault: true
    jsonData:
      httpMethod: POST
