grafana:
  default:
    host: https://neocompass.cloud/
    api_key: <insert api key>

grafana-reporter:
  check-for-updates: 1
  report-class: GrafanaReporter::Asciidoctor::Report
  templates-folder: ./templates
  reports-folder: ./reports
  report-retention: 24
  webservice-port: 8815
default-document-attributes:
  imagesdir: ./images